/* Styles the Navigation Bar */
.navbar {
    margin-bottom: 20px;
}
.navbar-brand {
    font-size: 26px;
}
.nav-item {
    margin-left: 18px;
}

/* Styles Social Icons */
.panel-body {
    padding: 25px 0px;
}

.social {
	width: 50px;
	padding: 0px 10px;
}

/* Styles the Jumbotron */
.jumbotron {
    position: relative;
    font-family: 'Raleway', sans-serif;
    background: #eceaeae0;
    color: #3ec2ac;
}

.lead {
    color: #2d706b;
    letter-spacing: 2px;
}

/* Styles the Main Text Area */
body {
    background: url("../images/jazmin-quaynor-105210-unsplash.jpg");
    background-size: cover;
 }


h2 {
    color: #2d706b;
    letter-spacing: 2px;
    text-decoration: underline;
    font-size: 36px;
    padding: 15px;
}

#profile-pic {
    height: 250px;
    width: 250px;
    float: left;
    padding: 0 15px 15px 15px;

}
#About-Me-Text {
    background:  #eceaeae0;
    color: #2d706b;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 20px;
}

#a {
    text-indent: 20px;
}
#b {
    text-indent: 20px;
}
#c {
    text-indent: 20px;
}

.designer-coder {
    text-align: center;
}

/* MOBILE RESPONSIVENESS */
@media only screen and (max-width: 350px) {
    h2 {
        text-align: center;
    }
    #profile-pic {
        height: 220px;
        width: auto;
    }
} 
@media only screen and (max-width: 400px) {
    h2 {
        text-align: center;
    }
    #profile-pic {
        margin: 10px;
        height: 260px;
        width: auto;
    }
} 
@media only screen and (max-width: 600px) {
    h2 {
        text-align: center;
    }
    #profile-pic {
        margin-left: 20px;
        height: 275px;
        width: auto;
    }
} 